.hero {
  overflow: hidden;
  margin: 0;
}

.hero::before {
  background: black url(../img/earth.jpg) center / cover no-repeat;
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(.4px) brightness(.85);
  transform: scale(1.1);
}

.fa-bars {
  height: 1rem;
}

.bg-transparent {
  background-color: hsla(0, 0%, 21%, .6);
  border-radius: 1.4rem;
}

/* TEST */

.center,
.center-column,
.top,
.right,
.bottom,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  flex-direction: column;
  justify-content: flex-start;
}

.top {
  align-items: flex-start;
}

.right {
  justify-content: flex-end;
}

.bottom {
  align-items: flex-end;
}

.left {
  justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
  line-height: 1;
}

#a {
  grid-area: a;
}

#b {
  grid-area: b;
}

#c {
  grid-area: c;
}

#d {
  grid-area: d;
}

#grid {
  display: grid;
  grid-template-areas: "a a a"
    "b c d";

  row-gap: 1.5rem;
}

.rightBorder {
  border-right: 1px solid gray;
}

.leftBorder {
  border-left: 1px solid gray;
}

@media (max-width: 512px) {

  #grid {
    grid-template-areas: "a a a"
      "b b b"
      "c c c"
      "d d d";
    row-gap: 3rem;
  }

  .rightBorder,
  .leftBorder {
    border: none;
  }
}
